body > div {
  text-align: center;
  margin-top: 4rem;
  >div {
    + div {
      margin-top: 1rem;
    }
  }
}

input {
  width : 60px;
  height: 60px;
}

input[type="checkbox"]:checked {
  ;
}


div{
  margin-top: 5rem;
}

h1 {
  margin-top: 3%;
  font-size: 2.5em;
  font-family: helvetica, sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
}


#oneDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #5C654C;
}

#twoDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #95A47B;
}

#threeDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #BDD09C;
}

a, footer {
	text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
	color: tomato;
}


footer {
  margin-top: 100px;
  clear: both;
  color: tomato;
  font-size: 1em;
  text-align: center;
  font-family: helvetica, sans-serif;
}
