/*********     BEGIN CSS     *********/


/*********     Structure for rows in nested divs     *********/

body > div {
  text-align: center;
  margin-top: 4rem;
  >div {
    + div {
      margin-top: 1rem;
    }
  }
}


/*********     Spacing for checkboxes     *********/

input {
  width : 60px;
  height: 60px;
}


/*********     Positioning for group of rows     *********/

div{
  margin-top: 5rem;
}

/*********     Title "Click to make sounds"    *********/

h1 {
  margin-top: 3%;
  font-size: 2.5em;
  font-family: helvetica, sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
}


/*********     Styling for rows     *********/

#oneDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #5C654C;
}

#twoDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #95A47B;
}

#threeDiv {
  padding-left: 35px;
  margin: auto;
  max-width: 600px;
  background-color: #BDD09C;
}

/*********     Styling for note indicators     *********/

p {
  font-family: helvetica, sans-serif;
  position: absolute;
  display: block;
  margin-left: 25%;
  padding-top: 10px;
}

#enote {
  padding-top: 74px;
}

#gnote {
  padding-top: 140px;
}

/*********     Footer styling    *********/

a, footer {
	text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
	color: tomato;
}


footer {
  margin-top: 100px;
  clear: both;
  color: tomato;
  font-size: 1em;
  text-align: center;
  font-family: helvetica, sans-serif;
}

/*********     END CSS     *********/
